/*Seletor de Link*/
a:link {
    color: green;
}
/*Seletor de Link visitado*/
a:visited {
    color: green;
}
/*Seletor de link quando o mouse passar por cima do linl*/
a:houver {
    color: blue;
}

/*Editando o cssPropriedade*/
body{
    font-size: 100%;
}

h1{
    text-align: center;
    background-color: blue;
    color:white;
}

p{
    font-size: 1.5em;
    color:black;
}

h2{
    text-align: center;
    background-color: cyan;
    color: white;
}


/* É POSSIVEL AGRUPAR OS SELETORES DAS MESMAS CORES
USACE AS VIRGULAS  COMO NO EXEMPLO 

h1,h2,p {
    color: green;
}
 ASSIM VOÇE MINIMIZA O TAMANHO DO CODIGO
*/


/*Seletor de link*/
a:link {
    color:green;
}

/*Seletor de link visitado*/
a:visited {
    color: green;
}

/*Seletor de link quando o mouse passar por cima do link*/
a:houver {
    color: blue;
}

.fonte {
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}